<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaUtFDEcwwyvEx7pffRQHfZl3ZL4rD_g4</string>
	<key>GCM_SENDER_ID</key>
	<string>448559867707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppChallenge</string>
	<key>PROJECT_ID</key>
	<string>todo-challenge-309f8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-challenge-309f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448559867707:ios:478b508655d83495f9b91e</string>
</dict>
</plist>